.ui.basic.primary.button, 
.ui.basic.primary.buttons .button,
.ui.basic.primary.button:hover, 
.ui.basic.primary.buttons .button:hover {
    background: rgb(255, 255, 255) !important;
}

.ui.small.breadcrumb h4 {
    font-size: .92857143rem;
}

.ui.menu.main-menu {
    margin-bottom: 0px !important;
}

$largestMobileScreen: 1199px;
$responsiveHeaderDisplay: block;
$responsiveFooterDisplay: block;
$responsiveRowVerticalPadding: 1em;
$responsiveRowBoxShadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
$responsiveCellVerticalPadding: 0.25em;
$responsiveCellHorizontalPadding: 0.75em;
$responsiveCellBoxShadow: none !important;

@media only screen and (max-width : $largestMobileScreen) {
  .ui.table:not(.unstackable) {
    width: 100%;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td  {
    display: block !important;
    width: auto !important;
    display: block !important;
  }

  .ui.table:not(.unstackable) {
    padding: 0em;
  }
  .ui.table:not(.unstackable) thead {
    display: $responsiveHeaderDisplay;
  }
  .ui.table:not(.unstackable) tfoot {
    display: $responsiveFooterDisplay;
  }
  .ui.table:not(.unstackable) tr {
    padding-top: $responsiveRowVerticalPadding;
    padding-bottom: $responsiveRowVerticalPadding;
    box-shadow: $responsiveRowBoxShadow;
  }

  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td {
    background: none;
    border: none !important;
    padding: $responsiveCellVerticalPadding $responsiveCellHorizontalPadding !important;
    box-shadow: $responsiveCellBoxShadow;
  }
  .ui.table:not(.unstackable) th:first-child,
  .ui.table:not(.unstackable) td:first-child {
    font-weight: bold;
  }

  /* Definition Table */
  .ui.definition.table:not(.unstackable) thead th:first-child {
    box-shadow: none !important;
  }
}