# Cache, session files and logs (Symfony3)

/app/config/parameters.yml
/build/
/phpunit.xml
/vendor/

/web/bundles/
/web/vendor/
/web/cache/*
/web/js/
/web/assets/
/web/assetic/
/web/css/
/web/img/
/web/fonts/
/web/images
/web/.htaccess
/web/sitemap_*/
/web/sitemap_*/*

/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/node_modules/

.buildpath
.project
.settings
.idea
desktop.ini
Thumbs.db
.DS_Store
.rsync_cache
catalog.xml
*.css.map
/.htpasswd
/composer.phar
/nbproject

# ignore vim swp files and gedit temp files
*.swp
*.*~
.vim
*~
*.php~
/bin/symfony_requirements
.sass-cache/

